<div class="ued-lanlan">
    <!-- 公司介绍 -->
    <div class="lanlan-info">
        <div class="lanlan-intro">
            <p></p>
            <p>We are professional suppliers of high quality offset ink, offset printing plate and platesetter. Our main products include Offset ink, UV Varnish, Conventional positive PS plate, Thermal CTP plate, CTcP plate, CTP Platesetter, CTcP Platesetter and other printing materials. </p>
            <p></p>
            <p>
                <em class="pink">Ink</em>: Our ink factory has three branches separately located in nearby Beijing, Shanghai and Guangzhou. We sold various inks (included offset inks & solvent inks) 60,000 tons in 2013, and the sale amount achieved 226 million. Bauhinia Variegata Inks (holded by Yip Chemical Group) was ranged TOP13 Ink Manufacturer by U.S &lt;INK WORLD&gt; at 2012.</p>
            <p></p>
            <p>
                <em class="pink">Plates</em>: Our Plates manufacturing ensures the highest quality in terms of both plate coating and substrate. Our products have passed the ISO9001 international quality system certification of WSC, and JAS-ANZ Australia-New Zealand united quality certification. </p>
            <p></p>
            <p>
                <em class="pink">Platesetter</em>: The accumulative sales of our platesetter on home and overseas market have been more than 500 sets. At present, our products are serving manufacture of hundreds of our customers and have obtained great affirmation and widespread praise from masses of our customers. </p>
            <p></p>
            <p>
                We provide ourselves not only in the quality of our products but also in the highest level of service we provide to our clients. Satisfied customers are our number one priority. We respect, value and offer first class service to all of our clients regardless of their size. </p>
            <p></p>
        </div>

        <div class="lanlan-members">
        </div>

    </div>
    <!-- END 公司介绍 -->

    <!-- 公司里程碑 -->
    <div class="lanlan-posts">
        <%= render :partial => "common/news", :collection => @news %>
    </div>
    <!-- END 公司里程碑 -->
</div>

