<div class="ued-lanlan">
    <!-- 公司介绍 -->
    <div class="lanlan-info">
        <div class="lanlan-intro">
            <p></p>
            <p>此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！此处显示公司简介！</p>
            <p></p>
            <p></p>
            <p>
                <em class="pink">公司简介1</em>: 公司简介1，公司简介1，公司简介1，公司简介1，公司简介1，公司简介1，公司简介1，公司简介1，公司简介1，公司简介1。</p>
            <p></p>
            <p>
                <em class="pink">公司简介2</em>: 公司简介2，公司简介2，公司简介2，公司简介2，公司简介2，公司简介2，公司简介2，公司简介2，公司简介2，公司简介2。</p>
            <p></p>
        </div>

        <div class="lanlan-members">
        </div>

    </div>
    <!-- END 公司介绍 -->

    <!-- 公司里程碑 -->
    <div class="lanlan-posts">
        <%= render :partial => "common/news", :collection => @news %>
    </div>
    <!-- END 公司里程碑 -->
</div>

