 <!-- 搜索框 -->
<form method="get" id="search" action="/search">
    <input type="text" maxlength="30" name="q" id="J_Input" class="input sprites" placeholder="<%= params[:q] || 'search' %>" value="">
</form>
<!-- END 搜索框 -->